<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-cookies.min.js"></script>
    <script src="~/Scripts/smart-table.min.js"></script>
</head>
<body ng-app="timeZones" ng-cloak>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div ng-controller="navBarCtrl">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"
                       ng-class="{'selectedNavigationElement':currentPage == 'Home'}">Home</a>
                    <a class="navbar-brand" href="/Users" ng-hide="currentUserModel == undefined || currentUserModel.Role == 'user'"
                       ng-class="{'selectedNavigationElement':currentPage == 'Users'}">Users</a>
                    <a class="navbar-brand" href="/Help"
                       ng-class="{'selectedNavigationElement':currentPage == 'Help'}">API</a>
                </div>
                <a class="navbar-brand" href="/Account" style="float:right" ng-show="currentUserModel != undefined">Log Out</a>
                <span class="navbar-brand" style="float:right;color:#999999" ng-show="currentUserModel != undefined">
                    Hello, {{currentUserModel.UserId}}! ({{currentUserModel.Role}})
                </span>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Controllers/NavBarController.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        @{
            string str = HttpContext.Current.Request.Path;
        }
        var baseUrl = 'https://' + '@HttpContext.Current.Request.Url.Authority' + '/';
    </script>

</body>

</html>
